.buttons {
    display: flex;
    gap: 1rem;
    margin: 20px auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    border: solid 1px var(--primary);
    max-width: 286px;
    height: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-white);
    transition: 0.6s;
}

.btn:hover {
    background: var(--color-white);
    color: var(--primary);
    border: solid 1px var(--primary);
}
